<% layout("layout/boilerplate.ejs") %>
    <div class="container offset-3">
        <h1>
            <%= user.name %>
        </h1>
        <!-- for creating post -->
        <form action="/c_post/<%=user.id%>/posts" method="POST" style="width: 30rem;">
            <div>
                <label for="title" class="col-form-label">Title</label>
                <textarea class="form-control" name="post[title]" id="title" placeholder="Title"></textarea>
            </div>
            <div>
                <label for="caption" class="form-label">Caption</label>
                <input type="text" class="form-control" name="post[caption]" id="caption" placeholder="Caption">
            </div>
            <div>
                <label for="imgLink" class="form-label">Image</label>
                <input type="text" class="form-control" name="post[imgLink]" id="image" placeholder="Image">
            </div>
            <button type="submit" class="btn btn-info mt-2">Post</button>
        </form>
        <!-- Post Show -->
        <% for(let post of user.posts) {%>
            <div class="card mb-3 mt-3" style="width: 33rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <%=post.title %> <button class="btn btn-block btn-primary"><i class="fa fa-thumbs-up">Like</i>
                            </button>
                            <%=post.likes %>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <%= post.caption %>
                    </h6>
                    <img src="<%= post.imgLink %>" class="card-img-top" alt="image" style="width: 30rem;">
                    <h6>
                        <%=post.date %>
                    </h6>
                </div>
                <!-- comments -->
                <form action="/user/<%=user.id %>/post/<%= post.id %>/comments" method="POST" style="width: 30rem;">;
                    <div class="mt-2">
                        <label for="text_com" class="form-label">Comments</label>
                        <textarea type="text" class="form-control" name="text_com" id="text_com"
                            placeholder="comment"></textarea>
                    </div>
                    <button type="submit" class="btn btn-info mt-2">Comment</button>
                </form>
                <!-- comments Show.. Ends -->

                <!-- Comment Show -->

            </div>
            <%}%>
                <!-- post show ends here -->
                <H1>Comment</H1>
                <p>
                    <% for(let comment of post.comments) {%>
                        Comment: <%= comment.text_com %>
                            <%} %>
                </p>
    </div>